#section-home {
    height: 100vh;
}

#calculator-container, #input-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container div {
	width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.btn {
	margin: 5px 0px;
}

#result-container {
/*     display: flex !important; */
/*     justify-content: flex-start !important; */
}

#result-container h3 {
    text-align: center;
}

